<div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>ADD</h3>
                <li class="active"><a href="/admin1/">Current News <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/missing/">Add MISSSING PERSON <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/wanted/">Add MOST WANTED <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/fir/">ADD FIR REPORT <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/register/">ADD CRIMINAL REGISTER <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/history/">ADD HISTORY <span class="ion-ios-arrow-forward"></span></a></li>
              </div>
            </div>
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>DELETE</h3>
                <li><a href="/d_news/">Current News <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/d_missing/">MISSSING PERSON <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/d_wanted/">MOST WANTED <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/d_fir/">FIR REPORT <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/d_register/">CRIMINAL REGISTER <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/d_history/">HISTORY <span class="ion-ios-arrow-forward"></span></a></li>
              </div>
            </div>
          </div>