{% load static %}
{% include 'template/topmenu.html' %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          	
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            	<span>CRIME FILE MANAGEMENT</span>
            </h1>
            <p><a href="/login/" class="btn btn-primary py-3 px-4">lOGIN</a></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb services-section">
      <div class="container">
        <div class="row no-gutters d-flex">
          <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-auction"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="#">Get Your Legal Advice</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
          <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-lawyer"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="#">Work with Expert Lawyers</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
          <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-money"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="#">Have Great Discounted Rates</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
          <div class="col-md-3 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="ion-ios-help-circle-outline"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="#">Review Your Case Documents</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
   	


    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<h2 class="mb-4">Indian Law's</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-family"></span>
        			</div>
        			<h3><a href="#">Family Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-auction"></span>
        			</div>
        			<h3><a href="#">Business Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-shield"></span>
        			</div>
        			<h3><a href="#">Insurance Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-handcuffs"></span>
        			</div>
        			<h3><a href="#">Criminal Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-house"></span>
        			</div>
        			<h3><a href="#">Property Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-employee"></span>
        			</div>
        			<h3><a href="#">Employment Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-fire"></span>
        			</div>
        			<h3><a href="#">Fire Accident</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-money"></span>
        			</div>
        			<h3><a href="#">Financial Law</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-medicine"></span>
        			</div>
        			<h3><a href="#">Drug Offenses</a></h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-handcuffs"></span>
        			</div>
        			<h3><a href="#">Sexual Offenses</a></h3>
        		</div>
        	</div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-secondary">
    	<div class="container-fluid">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Missing Person</h2>
          </div>
        </div>
        <div class="row">
        	<!-- start -->
        	{% for single in alldata2 %}
          
          <div class="col-lg-3 col-sm-6">
            <div class="block-2 ftco-animate">
              <div class="flipper">
                <div class="front" 
                style="background-image: url({{ single.image.url }});">
                  <div class="box">
                    <h2 style="text-transform: uppercase;">{{single.name}}</h2>
                    <p>{{single.date}}</p>
                  </div>
                </div>
                 <div class="back">
                  <!-- back content -->
                   <h3 style="text-align: center;text-decoration: underline; text-transform: uppercase;">{{single.name}}( {{single.sex}} )</h3>

                  <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">Age :-{{single.age}}</h6>
                   
                  </blockquote>
                  <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">Place :-{{single.place}}</h6>
                  </blockquote>
                   <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">crime :-{{single.type1}}</h6>
                  </blockquote>
                   <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">date :-{{single.date}}</h6>
                  </blockquote>
                   <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">cmp1 :-{{single.cmp1}}</h6>
                  </blockquote>
                   <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">height :-{{single.height}}</h6>
                  </blockquote>
                  <blockquote style="padding-left: 10px; "> 
                   <h6 style="text-transform: uppercase;">case :-{{single.case1}}</h6>
                  </blockquote>
                 </div>
              </div>
            </div>
          </div>
        
          {% endfor %}
        	
        	<!-- stop -->
        	
        </div>
    	</div>
    </section>
		

			<form action="/regcode/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
	    <section class="ftco-consultation">
    	<div class="container-fluid">
    		<h2 class="mb-4 col-md-12 text-center">Register Now</h2>
    		<div class="row d-md-flex">
    			<div class="half p-3 p-md-5 ftco-animate">
    			<div class="form-group">
	              <input type="text" class="form-control" placeholder="Your Name" 
	              name="t1" required="required">
	            </div>
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Your Email" 
	              name="t2" required="required">
	            </div>
	            <div class="form-group">
	              <input type="password" class="form-control" placeholder="Your Password"
	              name="t3" required="required">
	            </div>
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Your Mobile-No"
	              name="t4" required="required">
	            </div>
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Your Pincode"
	              name="t5" required="required">
	            </div>
	            
	           
	          
    			</div>
    			<div class="half p-3 p-md-5 ftco-animate">
    				
    			 
	            <div class="form-group">
	              <input type="file" class="form-control" 
                placeholder="Your Image"
	              name="t6" required="required">
	            </div>
	           
	            <div class="form-group">
	              <textarea id="" cols="30" rows="7" class="form-control" placeholder="Message"name="t7" required="required"></textarea>
	            </div>
	            <div class="form-group">
	              <input type="submit" value="Send message" class="btn btn-primary">
	            </div>
    			</div>
    		</div>
    	</div>
    </section>

    			</form>

    <section class="ftco-section testimony-section bg-secondary">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<h2 class="mb-4">Most Wanted Person</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
            	<!-- start -->
              {% for single in alldata %}
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" 
                  style="background-image: url({{ single.image.url }})">
                    
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">{{ single.case1 }}.</p>
                    <p class="name" style="text-transform: capitalize;">{{ single.name }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          <h2>Latest News</h2>
          </div>
        </div>
        <div class="row d-flex">
          <!-- start -->
           {% for single in alldata3 %}
             <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="" class="block-20" style="background-image: url({% static 'my/n1.jpg' %});">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="topper d-flex align-items-center">
              		<div class="one py-2 pl-3 pr-1 align-self-stretch">
              			<span class="day">{{single.p_id}}</span>
              		</div>
              		<div class="two pl-0 pr-3 py-2 align-self-stretch">
              			<span class="mos" style="color: black;">{{single.date}}</span>
                    <span class="mos" style="color: black;">{{single.place}}</span>

              		</div>
              	</div>
                <h3 class="heading mt-2">{{single.title}}</h3>
                <p  style="text-align: justify;">{{single.matter}}.</p>
              </div>
            </div>
          </div>
          {% endfor %}
          <!--End  -->
        </div>
      </div>
    </section>
	
	<section class="ftco-section-parallax bg-secondary">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>EMERGENCY CONTACT NO</h2>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="number" class="form-control" placeholder="Enter Mobile-No">
                      <input type="submit" value="Contact" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% include 'template/footer.html' %}