{% load static %}
{% include 'template/topmenu.html' %}
    <section class="hero-wrap hero-wrap-2" 
    style="background-image: url({% static 'my/1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">LoGin Panel</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login Penal <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   	


    <section class="ftco-consultation">
    	<div class="container-fluid">
    		<div class="row d-md-flex">
    			<div class="half order-md-last mt-md-0 d-flex justify-content-center align-items-center img" 
          style="background-image: url({% static 'my/2.jpg' %});">
    				<div class="overlay"></div>
    				<div class="desc text-center">
    					<div class="icon"><span class="flaticon-auction"></span></div>
    					<h1><a href="index.html">Indian <br><span>Crime Firm Website</span></a></h1>
    				</div>
    			</div>
    			<div class="half p-3 p-md-5 ftco-animate">
    				<h3 class="mb-4 font-weight-bold">Login Panel</h3>
    				<form action="/logincode/" method="post">
	            {% csrf_token %}
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Your Email" name="t1">
	            </div>
	            <div class="form-group">
	              <input type="password" class="form-control" placeholder="Password" name="t2">
	            </div>
	            
	            <div class="form-group">
	              <input type="submit" value="Login" class="btn btn-primary">
	            </div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>


    
{% include 'template/footer.html' %}