<div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>VIEW ALL</h3>
                <li><a href="/s_news/">Current News <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/s_missing/">MISSSING PERSON <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/s_wanted/">MOST WANTED <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/s_fir/">FIR REPORT <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/s_register/">CRIMINAL REGISTER <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/s_history/">HISTORY <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="/s_complaint/">COMPLAINT REPLY <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="/s_crime/">CRIME REPLY <span class="ion-ios-arrow-forward"></span></a></li>
              <li><a href="/s_message/">MESSAGE REPLY <span class="ion-ios-arrow-forward"></span></a></li>
              </div>
            </div>
          </div>